/*设置通用样式*/
*,
::before,
::after{
    font-size: 14px;
    margin: 0;
    padding: 0;
    /* 统一设置文字  sans-serif 移动端 的默认字体 */
    font-family: "Microsoft Yahei";
}
/* 去掉小圆点 */
ol,ul{
    list-style: none;
}
/* a标签的下划线 */
a{
    display: block;
    text-decoration: none;
}
/* input标签 去掉默认样式 */
input{
    border: none;
    -webkit-appearance: none;
}
.f_l{
    float:left;
}
.f_r{
    float: right;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after{
    content:'';
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}
/*IE8 hack*/
@media \0screen {
    body{
        margin:0;
    }
    .header ul {
        font-size: 14px;
        font-family: "Microsoft Yahei";
    }
     .header ul li:first-child+li {
        margin-left: 28px;
    }
    .header ul li:first-child+li+li+li+li+li{
        margin-left: 30px;
    }
    .header ul li:first-child+li+li+li+li+li>a {
        background:url(../images/dl.jpg) no-repeat left;
        color:#e9605e;
    }
    .banner .text {
        font-family: "Microsoft Yahei";
    }
    .main_content1 li:first-child+li {
        background: url(../images/ol-2.jpg) no-repeat center 45px;
    }
    .main_content1 li:first-child+li+li {
        background: url(../images/ol-3.jpg) no-repeat center 45px;
    }
    .main_content1 li:first-child+li+li+li {
        background: url(../images/ol-4.jpg) no-repeat center 45px;
    }
    .main_content1 li p {
        border-right:2px solid #bbbbbb;
    }
    .main_content1 li:first-child+li+li+li p {
        border-right:0;
    }
    .main_content3 p:first-child+hr+p {
        margin-top: 20px;
        margin-bottom: 52px;
        text-align: center;
        font: 12px "Microsoft Yahei";
        color: #fff;
    }
    .main_content3 .city div ul {
        margin-top:0;
        padding-left:0;
    }
    .main_content4 .photo div {
        margin-right: 38px;
    }
    .main_content4 .photo div:first-child+div+div+div {
        margin-right: 0;
    }
    .main_content4 .photo div:first-child +div p span {
        font-size: 20px;
        letter-spacing: 32px;
    }
    .main_content5 .f_l p:first-child+p {
        font-size: 157.79px;
        line-height:107px;
        margin-top:0;
        margin-bottom: 38px;
    }
    .main_content5 .f_l p:first-child+p+p {
        font-size: 21.91px;
        line-height: 42px;
    }
    .main_content5 .f_r ul{
        padding:0;
    }
    .main_content5 .f_r p:first-child+p {
        width: 288px;
        margin:20px auto 54px;
        font:12px/30px "宋体";
        color:#b5b7bb;
    }
    .main_content5 .f_r ul li:first-child+li {
        margin-right: 13px;
	background-color:#fff;
    }
.main_content5 .f_r ul li:first-child+li+li {
	background-color: #ffffff;
    }
    .main_content6>div:first-child+div {
        background-color: #ffffff;
        text-align: center;
    }
    .main_content6 div:first-child+div p {
        margin-top: 172px;
        margin-bottom: 22px;
        font:21px/32px "黑体";
    }
    .main_content6 div:first-child+div hr {
        width: 30px;
        margin: 0 auto;
        border: none;
        border-top: 2px solid #aaa;
    }
    .main_content6 div:first-child+div a {
        width: 170px;
        height: 40px;
        margin: 22px auto;
        border: 1px solid #e7504d;
        text-align: center;
        color:#e7504d;
        line-height: 40px;
    }
    .main_content7 .top p:first-child+hr+p {
        font:12px/18px "Microsoft Yahei";
        text-align: center;
        color:#b0b0b0;
        margin-top: 16px;
        margin-bottom: 110px;
    }
    .main_content7 .bottom .f_l dl {
        margin-top:-2px;
}
    .main_content7 .bottom .f_l dl dt:first-child+dd+dd+dt {
        margin-top: 25px;
        margin-bottom:17px;
    }
    .main_content7 .bottom .f_l dl dt:first-child+dd+dd+dt+dd+dd+dt {
        margin-top: 9px;
        margin-bottom:5px;
    }
    .main_content7 .bottom .f_l dl dt:first-child+dd+dd,
    .main_content7 .bottom .f_l dl dt:first-child+dd+dd+dt+dd+dd,
     .main_content7 .bottom .f_l dl dt:first-child+dd+dd+dt+dd+dd+dt+dd {
        font:12px/19.45px "宋体";
        text-align: right;
        background: url(../images/clickmore.png) no-repeat 244px;
     }
    .main_content7 .bottom .f_r input {
        padding-top:0;
        padding-bottom:0;
        padding-right:0;
        color:#bcbbba;
    }
    .main_content7 .bottom .f_r input:first-child,
    .main_content7 .bottom .f_r input:first-child+input+input {
        margin-right: 13px;
    }
    .main_content8 p:first-child+p {
        font:12px/20px "宋体";
        margin-bottom: 30px;
    }
    .main_content8 .icon img {
        border:0;
    }
    .main_content8 .icon a:first-child,
    .main_content8 .icon a:first-child+a {
        margin-right: 27px;
    }
    .main_content8 .icon a:first-child+a+a {
        margin-right: 22px;
    }
}
